@model IEnumerable<E_commerce_app.Data.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/stay_home.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <b>E-commerce-app</b>
                </p>
            </div>
        </div>
        <div class="item">
            
            <img src="~/images/test.webp" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <h2><b>Most popular items</b></h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/images/@item.Image" class="card-img-top tile-img">
                </a>
                <div class="card-body">
                    <p class="card-text">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a><br />
                        @Html.DisplayFor(modelItem => item.Description)<br />
                        <b>@Html.DisplayFor(modelItem => item.Price) PLN</b> <br />
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>