@model IEnumerable<E_commerce_app.Data.Models.ShoppingCartProduct>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Delete</a>
                </td>
                <td>
                    <form asp-action="Index">
                        <input type="hidden" name="id" asp-for="@item.ProductId" />
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input name="quantity" type="number" min="1" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add to cart" class="btn btn-default" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Any())
    //todo: summing up
    {<form onsubmit="return false" oninput="o.value = parseInt(1)">
        TOTAL: <output name="o"></output> PLN
    </form>

    <form asp-controller="Transactions" asp-action="Create">
        <input type="hidden" name="id" asp-for="@Model.First().ShoppingCartId" />
        <input type="submit" value="Purchase" class="btn btn-default" />

    </form>


    }
